<form style="margin: 30px">
<h4>Детальна інформація про військовослужбовця</h4>
<p><b>Ім'я: </b>{{ title }}</p>
<p><b>Звання:</b> {{ rank }}</p>
<p><b>Рік народження:</b> {{ year }}</p>
<p><b>Підрозділ: </b>{{ unitName }}</p>
<p><b>Посада: </b>{{ positionName }}</p>
</form>