<div style="margin: 50px">
    <h4>Choose soldier to edit</h4>


    {{#if todos.length}}
        <ul>
            {{#each todos}}
                <li class="todo">
                    <form action="/editsoldier" method="post">
                        <label>
                            {{#if completed}}
                                <input type="checkbox" checked name="completed">
                                <span class="completed">{{title}}</span>
                            {{else}}
                                <input type="checkbox" name="completed">
                                <span>{{title}}</span>
                            {{/if}}

                            <input type="hidden" value="{{_id}}" name="id">

                            <button  class="btn btn-small" type="submit"><a style="color: white" href="/editsoldierform/{{_id}}">Edit</a></button>
                        </label>
                    </form>
                </li>

            {{/each}}
        </ul>
    {{else}}
        <p>No todos!</p>
    {{/if}}
</div>